# デフォルトの無視ファイル
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.StrongAdventureWorks.iml
# データソースのローカルストレージがファイルを無視しました
/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
